sa-about {
  background-color: #f4f4f4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 100vh;
  width: 100vw;
  z-index: 100;
}

sa-about button {
  align-items: center;
  background: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0;
  min-width: 40px;
  padding: 0;
  position: absolute;
  right: 4px;
  top: 4px;
  --icon-color: #ffffff;
  --icon-cursor: pointer;
}

sa-about sa-box.splash {
  background-image: url( '/img/smokey.jpg' );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

sa-about sa-box.splash img { 
  border: solid 3px #ffffff;
  border-radius: 56px;
  height: 56px;
  margin: 32px 0 32px 0;
  width: 56px;
}

sa-about sa-box.splash sa-label {
  left: 16px;
  opacity: 0.60;
  position: absolute;
  top: 16px;
  --label-color: #ffffff;
}

sa-about sa-stack {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

sa-about sa-text-area {
  flex-basis: 0;
  flex-grow: 1;
}

sa-about ul {
  display: grid;
  grid-template-columns: repeat( 2, 1fr );
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  list-style: none;
  margin: 0 16px 0 16px;
  padding: 0 16px 0 32px;
}

sa-about li {
  box-sizing: border-box;
  color: #161616;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/*
sa-about sa-text-field {
  padding: 0 16px 16px 16px;
}

sa-about sa-text-field ~ sa-button {
  padding: 0 16px 16px 16px;
}
*/
