sa-catalog {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

sa-catalog img {
  width: 48px;
  height: 48px;
}

sa-catalog sa-box:has( sa-search-field ) {
  padding: 16px;
}

sa-catalog[search] sa-box sa-button {
  display: flex;
}

sa-catalog sa-label[size=s] {
  padding: 0 16px 4px 32px;
}

sa-catalog sa-label[size=s] {
  --label-color: #8d8d8d;
}

sa-catalog sa-label[size=s]::part( composed ) {
  text-transform: uppercase;
}

sa-catalog sa-list {
  padding: 0 16px 16px 16px;
}

sa-catalog sa-list::part( list ) {
  background-color: #ffffff;
  border-radius: 4px;
}

sa-catalog sa-search-field {
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
}

sa-catalog sa-stack {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
  padding: 0 calc( 16px + 10vw ) 0 calc( 16px + 10vw );
}

/*
sa-catalog sa-search-field {
  padding: 0 16px 0 16px;
}
*/

/*
sa-catalog sa-text-field sa-tag {
  margin-right: 8px;
}

sa-catalog sa-text-field sa-tag:empty {
  display: none;
}

/*
sa-catalog ul {
  background: #ffffff;
  bottom: 56px;
  box-shadow: 
    0 -2px 6px rgba( 0, 0, 0, 0.20 ), 
    0 -6px 24px rgba( 0, 0, 0, 0.05 );          
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 16px;
}

sa-catalog:not( [open] ) ul {
  display: none;
}

sa-catalog ul li {
  box-sizing: border-box;
  border-bottom: solid 1px #e0e0e0;
  color: #161616;
  cursor: pointer;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 39px;
  margin: 0;
  overflow: hidden;
  padding: 0 16px 0 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

sa-catalog ul li:hover {
  background-color: #e8e8e8;
}

sa-catalog ul li:last-of-type {
  border-bottom: solid 1px transparent;
}
*/
