sa-landing {
  box-sizing: border-box;
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

sa-landing sa-catalog {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px 0 16px 0;
}

sa-landing sa-catalog img {
  width: 48px;
  height: 48px;
}

sa-landing sa-catalog sa-list {
  flex-basis: 0;
  flex-grow: 1;
  padding: 0 16px 0 16px;
}

sa-landing sa-catalog sa-list::part( list ) {
  border-radius: 4px;
}

sa-landing sa-catalog sa-list::part( empty ) {
  padding: 0 10% 0 10%;
}

sa-landing sa-catalog sa-multi-select {
  padding: 0 16px 0 16px;
}

/*
sa-landing footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px 16px 16px;
}

sa-landing header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px 0 16px;
}

sa-landing sa-button:has( sa-icon )::part( button ) {
  padding: 0 16px 0 16px;
}

sa-landing sa-button sa-icon {
  --icon-color: #ffffff;
  --icon-cursor: pointer;
}

sa-landing sa-button[disabled] sa-icon {
  --icon-color: #8d8d8d;
  --icon-cursor: not-allowed;
}

sa-landing sa-list {
  flex-basis: 0;
  flex-grow: 1;
  padding: 0 16px 0 16px;
}

sa-landing sa-list::part( empty ) {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 0 10% 0 10%;
  height: 100%;      
}

sa-landing sa-list::part( list ) {
  border: solid 1px #e0e0e0;
}

sa-landing sa-list sa-text {
  --text-line-height: 22px;
}

sa-landing sa-search-menu {
  bottom: 120px;
  left: 16px;
  position: absolute;
  right: 16px;      
}
*/
