sa-recommendations {
  background-color: #f4f4f4;
  box-sizing: border-box;
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  left: 100vw;
  position: absolute;
  width: 100vw;
}

sa-recommendations aside {
  align-items: center;   
  border-top: solid 1px #8d8d8d;    
  box-sizing: border-box;
  display: flex; 
  flex-direction: row; 
  height: 48px; 
  margin: 0; 
  min-height: 48px;
  padding: 0 16px 0 16px;       
}

sa-recommendations h1 {
  padding: 0 0 16px 16px;
}

sa-recommendations img[slot=empty] {
  width: 48px;
  height: 48px;
}

sa-recommendations > sa-box {
  margin: 0 16px 16px 16px;
}

sa-recommendations > sa-box sa-label {
  padding: 0 16px 16px 16px;
}

sa-recommendations > sa-box sa-button {
  flex-basis: 0;
  flex-grow: 1;
}

sa-recommendations header sa-button:last-of-type {
  margin-left: auto;
  margin-right: 4px;
}

sa-recommendations sa-label[slot=empty] {
  --label-text-align: center;
}

sa-recommendations sa-list {
  flex-basis: 0;
  flex-grow: 1;
  overflow: auto;
  padding: 0 16px 16px 16px;
}

sa-recommendations sa-list::part( list ) {
  gap: 16px;
}

sa-recommendations sa-status-indicator {
  gap: 8px;
}

sa-recommendations sa-status-indicator::part( spinner ) {
  --spinner-indicator-color: #0f62fe;
}

sa-recommendations sa-status-indicator::part( label ) {
  --label-color: #161616;
}
